@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}


.main {
    width: 100%;
  
    padding: 0 5rem;

    .secaoInicial {
        display: flex;
        width: 100%;
        margin-top: 9rem;
        height: 50vh;

        .secaoInicial_Esquerda {
            display: flex;
            width: 45%;
            justify-content: flex-end;
            padding-right: 7rem;

            .imagemPessoal {
                width: 70%;
                border-radius: 8px;

            }
        }

        .secaoInicial_Direita {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 2rem;
            padding-right: 7rem;

            .subtitulo {
                color: black;
                font-weight: 200;
                font-size: 1.5rem;
                margin: 0;
                padding: 0;
            }

            .titulo {
                color: #202020;
                font-size: 3.5rem;
                font-weight: bolder;
                margin: 0;
                padding: 0;
            }

            .descricao {
                color: gray;
                margin-bottom: 40px;
                padding-right: 6rem;
            }

            .secaoInicial_btnsContainer {
                display: flex;
                flex-direction: row;
                gap: 1rem;


                .btnCurriculum {
                    background-color: white;
                    color: #1E90FF;
                    border: 3px solid #1E90FF;
                    text-decoration: none;
                    border-radius: 10px;
                    padding: 10px 25px;
                    transition: 0.3s;

                    &:hover {
                        background-color: #1E90FF;
                        color: white;
                        box-shadow: 0px 0px 10px #1E90FF;
                        transition: 0.3s ease-in-out;
                    }

                    cursor: pointer;

                    .btnText {
                        font-weight: bold;
                        font-size: 1rem;

                        font-family: "Poppins", sans-serif;


                    }


                    .iconeDowload {
                        padding-right: 0.5rem;
                    }
                }

                .btnContato {
                    padding: 10px 25px;
                    text-decoration: none;
                    border: 2px solid #ccc;
                    border-radius: 10px;
                    color: gray;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    cursor: pointer;
                    transition: 0.3s;


                    &:hover {
                        background: #ccc;
                        color: #202020;
                        transition: 0.3s ease;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 10px;

                    }

                    .btnText {
                        font-weight: 500;
                        font-size: 1rem;
                        font-family: "Poppins", sans-serif;

                    }
                }
            }
        }
    }



















    .secaoSobre {
        width: 100%;

        .secaoSobre_Content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            .secaoSobre_Esquerda {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 5rem 12rem 7rem 10rem;
            }

            .secaoSobre_Direita {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 12rem;
                padding-bottom: 6rem;




            }
        }
    }






    .secaoHabilidades {
        display: flex;
        flex-direction: column;
        width: 100%;

        .cardsContainer {
            max-width: 100%;
            padding: 7rem;
            padding-bottom: 0;
            padding-top: 3rem;
        }
    }

    .secaoContato {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .secaoContato_Content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1200px;
            justify-content: space-between;
            /* Distribui os elementos igualmente */
            align-items: flex-start;
            /* Alinha os elementos no topo */
            gap: 2rem;
            /* Espaçamento entre os blocos */
            width: 100%;
            padding: 5rem;

            .secaoContato_Esquerda {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;

                .titulo {
                    color: #202020;
                }

                .contatoEmailContainer,
                .contatoTelefoneContainer {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    /* Espaço entre o ícone e o texto */
                }

                .btnContainer {
                    padding-top: 1rem;
                }
            }

            .secaoContato_Direita {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
    }


}

.icon {
    padding-right: 0.6rem;
}

.tituloSecao {
    font-size: 1.65rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9%;

    .titulo {
        border-bottom: 8px solid #1E90FF;
        transition: 0.5s border-bottom ease-in;

        &:hover {
            border-bottom: 8px solid #FFD700;
        }
    }
}










/* responsividade.scss */

/* Ajustes para telas até 768px (tablets e pequenos desktops) */
@media only screen and (max-width: 768px) {
    .main {
        padding: 0 2rem;

        .secaoInicial {
            flex-direction: column;
            margin-top: 4rem;
            height: auto;

            .secaoInicial_Esquerda,
            .secaoInicial_Direita {
                width: 100%;
                padding: 0;
                text-align: center;
            }

            .secaoInicial_Esquerda {
                justify-content: center;
                margin-bottom: 1rem;

                .imagemPessoal {
                    width: 80%;
                }
            }

            .secaoInicial_Direita {
                padding: 1rem;

                .subtitulo {
                    font-size: 1.2rem;
                }

                .titulo {
                    font-size: 2.5rem;
                }

                .descricao {
                    font-size: 0.9rem;
                    padding-right: 0;
                }

                .secaoInicial_btnsContainer {
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: center;
                }
            }
        }

        .secaoSobre {
            .secaoSobre_Content {
                display: flex;
                flex-direction: column;
                padding: 1rem;

                .secaoSobre_Esquerda,
                .secaoSobre_Direita {
                    width: 100%;
                    padding: 1rem;
                    text-align: justify;
                }

                .secaoSobre_Direita {
                    margin-top: 1rem;
                }
            }
        }

        .secaoHabilidades {
            .cardsContainer {
                padding: 3rem 1rem 0 1rem;
            }
        }

        .secaoContato {
            margin-top: 6rem;
            .secaoContato_Content {
                flex-direction: column;
                align-items: center;
                padding: 3rem 1rem;
                gap: 2rem;

                .secaoContato_Esquerda,
                .secaoContato_Direita {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    .tituloSecao {
        margin-top: 5%;

        .titulo {
            font-size: 1.9rem;
        }
    }
}

/* Ajustes para telas até 480px (celulares) */
@media only screen and (max-width: 480px) {
    .main {
        padding: 0 1rem;
        margin: 0 auto;

        .secaoInicial {
            margin-top: 3rem;

            .secaoInicial_Esquerda,
            .secaoInicial_Direita {
                width: 100%;
                padding: 0;
            }

            .secaoInicial_Esquerda {
                margin-bottom: 1rem;

                .imagemPessoal {
                    width: 90%;
                }
            }

            .secaoInicial_Direita {
                .subtitulo {
                    font-size: 1rem;
                }

                .titulo {
                    font-size: 2rem;
                }

                .descricao {
                    font-size: 0.8rem;
                    padding-right: 0;
                }

                .secaoInicial_btnsContainer {
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }
        }

        .secaoSobre {
            .secaoSobre_Content {
                padding: 1rem;

                .secaoSobre_Esquerda,
                .secaoSobre_Direita {
                    padding: 0;
                }
            }
        }

        .secaoHabilidades {
            .cardsContainer {
                padding: 2rem 1rem 0 1rem;
            }
        }

        .secaoContato {
            .secaoContato_Content {
                padding: 2rem 1rem;
                gap: 1rem;
            }
        }
    }

    .tituloSecao {
        margin-top: 10%;

        .titulo {
            font-size: 1.7rem;
        }
    }
}