
.main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 5rem;
    justify-content: center;
}

.card {
    flex: 1 1 280px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    }
}

.image {
    position: relative;
    height: 180px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.gitBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 7px;
    border: 2px solid #1E90FF;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease;

    svg {
        color: #1E90FF;
        font-size: 1.5rem;
    }

    &:hover {
        background: #1E90FF;
        transition: 0.4s ease;

        svg {
            color: #fff;
        }
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
    padding: 10px;
    color: #fff;

    .title {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
        padding-left: 0.5rem;
    }

    .projectType {
        font-size: 0.9rem;
        opacity: 0.9;
        padding-left: 0.5rem;
    }
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;

    .description {
        font-size: 1rem;
        line-height: 1.5;
        color: #333;
        text-align: justify;
    }

    .techIcons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .techIcon {
            font-size: 2rem;
            color: #1E90FF;
            transition: transform 0.2s ease;
            transition: 0.3s ease;
    
            &:hover {
                transform: scale(1.2);
                transition: 0.3s ease;
                color: #FFD700;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        padding: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .image {
        height: 150px;
    }

    .overlay .title {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 1rem;
    }

    .content .description {
        font-size: 0.9rem;
    }
}
