.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 3rem 10rem;
    justify-content: center;
    padding-bottom: 0;
}

.itemContainer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background: #fff;

    &:hover {
        transform: scale(1.03);
    }
}

.imageContainer {
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px 10px 0 0;
    }

    .gitBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(30, 144, 255, 0.7);
        border: 2px solid white;
        padding: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;
        color: white;
        text-decoration: none;
        font-size: 20px;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
            border: 2px solid #1E90FF;
            color: #1E90FF;
        }
    }
}

.infoContainer {
    padding: 15px;
    text-align: center;
    background: white;
    color: black;
    border-radius: 0 0 10px 10px;

    .title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .description {
        font-size: 1rem;
        line-height: 1.4;
    }

    .details {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .projectType {
        background: #1E90FF;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.9rem;
    }

    .techIcons {
        display: flex;
        gap: 10px;
        justify-content: center;

        .techIcon {
            width: 30px;
            height: 30px;
        }
    }
}