.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 3rem 10rem;
    justify-content: center;
    padding-bottom: 0;
}

.itemContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background: #fff;
    min-height: fit-content;

    &:hover {
        transform: scale(1.03);
    }
}

.imageContainer {
    position: relative;
    height: 42%;

    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px 10px 0 0;
    }

    .gitBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(30, 144, 255, 0.5);
        border: 2px solid white;
        padding: 0px 8px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        text-decoration: none;
        font-size: 20px;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
            border: 2px solid #1E90FF;
            color: #1E90FF;
            transition: 0.3s ease;
            transform: scale(1.1);
        }
    }
}

.infoContainer {
    padding: 20px 2rem 3rem;
    
    text-align: center;
   
    background: white;
    color: black;
    border-radius: 0 0 10px 10px;

    .divTitle {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;

        .title {
            font-size: 1.5rem;

        }

        .projectType {
            color: #1E90FF;
            font-weight: bolder;
            padding: 0px 10px;
            font-size: 1rem;
            border-left: 2px solid #1E90FF;
        }

    }


    .divDescription {
        
        .description {
            font-size: 1rem;
            line-height: 1.4;
            text-align: justify;
        }
    }

    .techIcons {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2rem;
        padding-top: 2rem;

        .techIcon {
            width: 30px;
            height: 30px;
            color: #1E90FF;
        }
    }
}